@model RSVPSystem.Models.Party

@{
    ViewData["Title"] = "Party Details";
}

<h1>Party Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
    </dl>

    <h4>Attendees</h4>
    @if (Model.AttendeeParties != null && Model.AttendeeParties.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.AttendeeParties)
                {
                    <tr>
                        <td>@item.Attendee.Name</td>
                        <td>@item.Attendee.Email</td>
                        <td>@item.Attendee.Phone</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No attendees have registered for this party.</p>
    }
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div> 